*{margin:0;padding:0;}
body{font-family: 'Montserrat', sans-serif;font-weight:500;overflow-y:scroll;}
a{color:#002dff;text-decoration:none;}
li{list-style-type:none;}

input,textarea,button{box-sizing:content-box;font-family:Muller,sans-serif;}
input::placeholder{color: #000;}

::selection{background-color:#002dff;color:#fff;}

.dn{display:none;}

/*блок*/
.section{
	text-align: center;
  width: 100%;
  clear: left;
  background-color:#F3F3F3;
}

/*Область внутри блока с контенотом, имеет фиксированную ширину*/
.container{
  max-width: 1271px;
  margin: 0 auto;
  padding: 0 15px;
	text-align: left;
}
